html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6rem;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

span {
    color: rgb(21, 102, 156);
}

#book-form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 7px;
    margin-bottom: 2rem;
}

input {
    width: 50rem;
    height: 1.5rem;
    padding: 5px;
    font-size: 1rem;
}

#button {
    background-color: rgba(21, 102, 156, 0.8);
    color: white;
    padding: 5px;
    height: 2.5rem;
    width: 51rem;
    border-radius: 7px;
    margin-top: 1rem;
    border: none
}

#button:hover{
    background-color: rgba(21, 102, 156, 1);  
}

table {
    width: 80rem;
    text-align: left;
    border-collapse: collapse;
}

th {
    background-color: rgba(21, 102, 156, 0.8);
    color: white;
    padding: 10px;
    font-size: 1rem;
    height: 2rem;
}

td {
    height: 1.5rem;
    padding: 10px;
}

.title {
    width: 3fr;
}

.book-status{
   background-color: rgb(214, 190, 157);
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.delete{
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    color: white;
    text-align: center;
    border: none;
}